
/* 
START STYLE SECTION ABOUT */

#contact-section-page{
    background-color: transparent;
    padding: 2rem;
}

#contact-section-page #image-column{
    position: relative;
}
#contact-section-page .card{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
}
#contact-section-page .rounded-section{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -50px;
    left: -50px;
}
#contact-section-page .rounded-section p{
    color: #fff;
    text-align: center;
}
#contact-section-page .rounded-section p span{
    font-weight: 700;
    font-size: 40px;
}

#contact-section-page #about-sectino-right span{
    font-size: 1.5rem;
    color: var(--color);
}

#contact-section-page #about-sectino-right h4{
    font-size: 20px;
}



#contact-section-page #title-about{
    color:#072c50;
    font-size: 43px;
    font-weight: 700;
}

#contact-section-page #sub-title-about>div{
    width: 50px;
    height: 20px;
    color: var(--color);
    display: flex;


}

#contact-section-page #sub-title-about {
    display: flex;
    font-style: italic;
    font-size: 1rem;
}





#contact-section-page2 .card{
    padding: 2em 2em 2em 2em;
}


#contact-section-page2 form label {
    font-weight: 600;
    line-height: 1.5em;
}
  
#contact-section-page2 form input ,#contact-section-page2 form textarea,#contact-section-page2 form select{
    padding: 13px;
    border: none;
    border-radius: 5px;
    background: #fdf1ea;
    width: 100%;
}
  
#contact-section-page2 form input:focus ,#contact-section-page2 form textarea:focus,#contact-section-page2 form select:focus{
    box-shadow: none;
    border: 1px solid #000;
    outline: none;
}
  
#contact-section-page2 form .input_border{
    border: 1px solid #03A9F4;
    border-radius: 5px;
}



#contact-section-page2 form .btn-section-contact{
    background: rgb(236, 110, 49);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    color: #fff;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 1px;
    border: none;
}


#contact-section-page2 #title-about{
    font-size: 48px;
    font-weight: 700;
    color: #08437d;
}

#contact-section-page2 #title-social-media{
    font-size: 20px;
    font-weight: 700;
    color: #08437d;
}

#contact-section-page2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

#contact-section-page2 ul li{
    background: #0b4b89;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
  