<nav class="navbar navbar-expand-lg  p-0" style="background: #fff;">
    <div class="container-fluid">
        <a class="navbar-brand" id="logo" style="width: 15%;" href="#">
            <img src="asset/images/logo.png" alt="" width="100%" height="100%">
        </a>
        <button style="    border-left: 1px solid #00000096;border-radius: 0;" id="btn-menu-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span >
                <i class="bi bi-three-dots-vertical"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0 " id="menu-links">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                    </a>
                    <ul class="dropdown-menu p-0 border-0">
                        <li class="p-1"><a class="dropdown-item" href="service.html">Service Details</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Moving Planner
                    </a>
                    <ul class="dropdown-menu p-0 border-0">
                        <li class="p-1"><a class="dropdown-item" href="#">Claim</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pages
                    </a>
                    <ul class="dropdown-menu p-0 border-0">
                        <li class="p-1"><a class="dropdown-item" href="#">Page 1</a></li>
                        <li class="p-1"><a class="dropdown-item" href="#">Page 2</a></li>
                        <li class="p-1"><a class="dropdown-item" href="#">Page 3</a></li>
                    </ul>
                </li>
            </ul>
            <div id="media" class="w-100">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center w-100 pe-4" >
                    <li class="nav-item">
                        <a class="px-2 py-2 ms-2" href="/">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="px-2 py-2 ms-2 ">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="px-2 py-2 ms-2">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="px-2 py-2 ms-2">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        
        </div>
        <div class="btn-get-a-quote">
            <button class="button-navbar-get">GET A QUOTE</button>
        </div>
    </div>
</nav>