<section class="contact" id="contact">
    <header class="section__container_contact header__container_contact">
        <div class="header__image__container_contact d-flex justify-content-center">
            <div class="header__content_contact">
                <h3 class="contact-headline">
                    We’ll Make This Whole Moving Thing Easy For You
                </h3>
                <h4>Get A Discount Of Up To 50% For Orders This Month!</h4>
                <p>
                    Nec lectus et integer convallis potenti si suscipit neque etiam. 
                    At ad convallis sociosqu tempus bibendum elementum si. Auctor nec 
                    hendrerit facilisi duis tincidunt lorem lobortis tristique eu leo 
                    donec. Mattis ac ante suspendisse mi amet.
                </p>

                <div >
                    <button class="contact-page-btn">GET A QUOTE</button>
                    <button class="btn-contact">CONTACT US</button>
                </div>
            </div>
        </div>
    </header>
</section>
<script>
    sr.reveal('.contact .contact-headline',{delay:150, origin:'right'})
    sr.reveal('.contact h4',{delay:150, origin:'left'})
    sr.reveal('.contact p',{delay:190, origin:'bottom'})
    sr.reveal('.contact .contact-page-btn',{delay:190, origin:'left'})
    sr.reveal('.contact .btn-contact',{delay:190, origin:'right'})
</script>