<section class="py-5 py-xl-8" id="choose-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h5 id="sub-title-choose-us">
                    <div>
                        <svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='#ec6e31' stroke='none'>
                            <polygon points='9.4,2 24,2 14.6,21.6 0,21.6'/>
                        </svg>
                        <svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='#ec6e31' stroke='none'>
                            <polygon points='9.4,2 24,2 14.6,21.6 0,21.6'/>
                        </svg>
                    </div>
                    WHY CHOOSE US
                </h5>
                <div class="row">
                    <h2 class="display-5 mb-5 text-start col-lg-6 col-md-12" id="title-choose-us">Client Satisfaction Is Our Primary Focus</h2>
                    <p class="col-lg-6 col-md-12">
                        Montes morbi scelerisque ac laoreet accumsan metus proin ut himenaeos porta ex. 
                        Nostra fames praesent sem metus himenaeos. Finibus iaculis rutrum semper nec consequat 
                        tristique id. Risus sit cras a faucibus tempor luctus.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid overflow-hidden">
    <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 border-bottom border-warning ">
            <div class="card-body text-center p-4 p-xxl-5">
                <i class="bi bi-patch-check-fill section-choose-us-icon" ></i>
                <h4 >Quality & <br> Satisfaction</h4>
                <p class="mb-4 text-secondary">
                    In interdum fringilla sem primis nunc hendrerit semper sodales blandit justo letius.
                </p>

            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 border-bottom border-warning ">
            <div class="card-body text-center p-4 p-xxl-5">
                <i class="bi bi-shield-lock-fill section-choose-us-icon"></i>
            <h4 >Security & <br> Reliability</h4>
            <p class="mb-4 text-secondary">
                In interdum fringilla sem primis nunc hendrerit semper sodales blandit justo letius.
            </p>

            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 border-bottom border-warning ">
            <div class="card-body text-center p-4 p-xxl-5">
                <i class="bi bi-gear-fill section-choose-us-icon"></i>
            <h4 >Flexibility & <br> Advice</h4>
            <p class="mb-4 text-secondary">
                In interdum fringilla sem primis nunc hendrerit semper sodales blandit justo letius.
            </p>

            </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 border-bottom border-warning ">
            <div class="card-body text-center p-4 p-xxl-5">
                <i class="bi bi-lightbulb-fill section-choose-us-icon"></i>
            <h4 >Cutting-edge <br> Solution</h4>
            <p class="mb-4 text-secondary">
                In interdum fringilla sem primis nunc hendrerit semper sodales blandit justo letius.
            </p>

            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<script>
    sr.reveal('#choose-us #sub-title-choose-us',{delay:110, origin:'top'})
    sr.reveal('#choose-us #title-choose-us',{delay:120, origin:'left'})
    sr.reveal('#choose-us p',{delay:120, origin:'right'})
    sr.reveal('#choose-us .card',{delay:130, origin:'right'})
</script>